{% extends "layout.html" %}
{% block title %}{{config.APP_NAME}}{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="container-fluid">
</div>
<div class="container content">
    <div class="row">
        <div class="col-md-8 col-md-offset-4 col-xs-12 login-card">
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title">404</h5>
					<p class="card-text">
                    <div class="alert alert-light message" role="alert">你访问的页面不存在，<a href="">随便看看</a></div>
					</p>
				</div>
			</div>
        </div>

    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
